<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />

    <!-- CSS and JS required for the application -->
    @* <link rel="stylesheet" href="bootstrap/bootstrap.min.css" /> *@
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="output.css" />
    <link rel="stylesheet" href="FitnessTrackingApp.styles.css" /> @* App-specific styles *@
    <link rel="icon" type="image/png" href="favicon.png" />   @* Favicon for browser tab *@

    <!-- Custom Dependencies -->
    @* <script src="https://cdn.tailwindcss.com"></script> *@
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script> @* Chart.js library for charts *@

    <HeadOutlet />   @* Blazor placeholder for head content from components *@
</head>

<body>
    <Routes />      @* Blazor router to render pages/components *@
    <script src="_framework/blazor.web.js"></script>  @* Blazor WebAssembly runtime script *@
</body>

</html>
